<!DOCTYPE html>
<html>

<head>
  <title>Eestimation of HMS </title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" type="image/jpg" href="/images/zimage 1.ico" />
</head>

<body>
  <div class="title">
    <img src="/images/zimage 1.png" width="7%" height="7%">
    <h3>WELCOME TO HEALTH PREVENTION SYSTEM </h3>
  </div>

  <div class="content">
    <div class="subcon">
      <h3 style="text-align: left;">Normal or Viral Fever Symtoms</h3>
      <ul style="font-size:1.05rem; text-align: left;">
        <li>Chills and shivering.</li>
        <li>Headache.</li>
        <li>Sweating.</li>
        <li>Muscle aches.</li>
        <li>Dehydration.</li>
        <li>General weakness.</li>
      </ul>
    </div>
    <img src="/images/zimage 3.png" width="200px" height="200px">
  </div>
  <section>
    <p>Obesity Specialized Hospitals</p>
    <div class="main">
      <select id="hospital" class="box">
        <option>Plese Select Hospitals</option>
      </select>
      <select id="doctor" class="box">
        <option>Select Doctor Name</option>
      </select>
      <select id="time" class="box">
        <option>Timings</option>
      </select>
      <br>
    </div>
  </section>
  <section>
    <p><span>Conselting Modes</span></p>
    <select class="mode">
      <option>Select Type</option>
    </select>
  </section>
  <br>
  <div class="send">
    <button type="button" name="Send Request" class="button">Send Request</button>
  </div>
</body>

</html>