<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ESTIMATION OF HUMAN HEALTH PARAMETER IN PUBLIC PLACES</title>
  <link rel="stylesheet" href="/css/style1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" type="image/jpg" href="/images/zimage 1.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

  <div class="wrapper">
    <input type="checkbox" id="btn" hidden>
    <label for="btn" class="menu-btn">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
    </label>
    <nav id="sidebar" name="nave" opened>
      <div class="title">Menu</div>
      <ul class="list-items">
        <li><a href="/index" target="_self"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/zHeart_Diseases"><i class="fa-solid fa-heart-pulse" target="_self"></i>Heart Problem</a>
        </li>
        <li><a href="/Lung_Disease_Symtoms"><i class="fa-solid fa-user-doctor" target="_self"></i>Lungs
            Disease</a>
        </li>
        <li><a href="/Obesity"><i class="fa-regular fa-virus" target="_self"></i>Obesity</a></li>
        <li><a href="/Viral_Fever"><i class="fa-solid fa-viruses" target="_self"></i>Fever</a></li>
        <li><a href="/zAbout"><i class="fa-solid fa-address-card" target="_self"></i>About us</a></li>
        <li><a href="https://goo.gl/maps/GawA2c5z9YqifkN37"><i class="fa-solid fa-address-book"
              target="_self"></i>Contact us</a>
        </li>
        <div class="icons">
          <a href="mailto: hhpapsystem@gmail.com"><i class="fa-solid fa-envelope"></i></i></a>
          <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
          <a href="https://goo.gl/maps/GawA2c5z9YqifkN37"><i class="fa-solid fa-location-dot"></i></i></a>
          <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->
        </div>
      </ul>
    </nav>
  </div>
  <div class="content">
    <div class="header" style="color:#000">ESTIMATION OF HUMAN HEALTH PARAMETER AND PREVENTION SYSTEM IN PUBLIC PLACES
    </div>
    <button onclick="myFunction()">HIIIIIIIIIII</button>
    <!-- <a href="index.html#sidebar">Click To Start</a> -->
  </div>
</body>

</html>