<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESTIMATION OF HUMAN HEALTH PARAMETER IN PUBLIC PLACES</title>
  <style>
    .cont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }

    .cont p {
      line-height: 1.7rem;
      font-size: 1.4rem;
      width: 72%;
      text-align: justify;
    }
  </style>
</head>

<body>
  <div class="cont">
    <h1>ESTIMATION OF HUMAN HEALTH PARAMETER IN PUBLIC PLACES</h1>
    <p>In this system, we can find our body health parameters and prevent from some
      diseases like Obesity, Lungs disease, Major heart problems and Heavy fever.
      Those are integrated to give it in one single device. This device is placed in public
      places, it’s mainly used for common peoples for checking their health parameters.
      Then this health parameters are displayed, stored and shared based on the health
      level. And we provide an online consultation with doctor by using own Web
      Application to the user.</p>
  </div>
</body>

</html>